$tender-blue: #b3deef;
$tender-yellow: #ffc24b;
$tender-red: #f43753;
$tender-magenta: #d3b987;

$backgroundcolor: #282828;
$textcolor: #feffff;
$lighttextcolor: #eeeeee;

h2 {
  font-size: 1.8rem;
  background-color: $tender-blue;
  color: $backgroundcolor;
}

table th,
td {
  border: solid 1px;
}
